.row-container {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  height: 100vh;
  background: gray;
}

.branch-row {
  width: 100%;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  
  &--error {
    background-color: black;
  }

  &--failure {
    background-color: #ff9b9b;
  }

  &--pending {
    background-color: #fbff91;
  }

  &--success {
    background-color: #9bffbc;
  }
}
