.row-container {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  height: 100vh;
}

.branch-row {
  width: 100%;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  &--error {
    background-color: gray;
  }

  &--failure {
    background-color: red;
  }

  &--pending {
    background-color: yellow;
  }

  &--success {
    background-color: green;
  }
}
